# yaml-language-server: $schema=./values.schema.json
global:
  domain: c-2ff68de.kyma.ondemand.com
  imagePullSecret:
    name: kyma-cap-secret
  image:
    registry: docker.io
    tag: latest
srv:
  bindings:
    db:
      serviceInstanceName: hana
    destination:
      serviceInstanceName: destination
  image:
    repository: cdanm9/kyma-cap-srv
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 500M
    requests:
      ephemeral-storage: 1G
      cpu: 500m
      memory: 500M
  health:
    liveness:
      path: /health
    readiness:
      path: /health
  networkSecurity:
    allowNamespaceInternal: true
hana-deployer:
  image:
    repository: cdanm9/kyma-cap-hana-deployer
  bindings:
    hana:
      serviceInstanceName: hana
  resources:
    limits:
      cpu: 500m
      memory: 1G
    requests:
      cpu: 100m
      memory: 256M
hana:
  serviceOfferingName: hana
  servicePlanName: hdi-shared
destination:
  serviceOfferingName: destination
  servicePlanName: lite
  parameters:
    version: 1.0.0
backendDestinations:
  srv-api:
    service: srv
