# yaml-language-server: $schema=./values.schema.json
global:
  domain: c-2ff68de.kyma.ondemand.com
  imagePullSecret:
    name: kyma-cap-secret
  image:
    registry: docker.io
    tag: latest
srv:
  bindings:
    auth:
      serviceInstanceName: xsuaa
    db:
      serviceInstanceName: hana
    destination:
      serviceInstanceName: destination
  image:
    repository: cdanm9/kymacap-srv
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 500M
    requests:
      ephemeral-storage: 1G
      cpu: 500m
      memory: 500M
  health:
    liveness:
      path: /health
    readiness:
      path: /health
  networkSecurity:
    allowNamespaceInternal: true
xsuaa:
  serviceOfferingName: xsuaa
  servicePlanName: application
  parameters:
    tenant-mode: dedicated
    oauth2-configuration:
      redirect-uris:
        - https://*.{{ tpl .Values.global.domain . }}/**
    xsappname: kymacap-{{ .Release.Namespace }}
hana-deployer:
  image:
    repository: cdanm9/kymacap-hana-deployer
  bindings:
    hana:
      serviceInstanceName: hana
    xsuaa:
      serviceInstanceName: xsuaa
  resources:
    limits:
      cpu: 500m
      memory: 1G
    requests:
      cpu: 100m
      memory: 256M
hana:
  serviceOfferingName: hana
  servicePlanName: hdi-shared
destination:
  serviceOfferingName: destination
  servicePlanName: lite
  parameters:
    version: 1.0.0
backendDestinations:
  srv-api:
    service: srv
approuter:
  bindings:
    hana:
      serviceInstanceName: hana
    xsuaa:
      serviceInstanceName: xsuaa
    destination:
      serviceInstanceName: destination
  image:
    repository: cdanm9/kymacap-approuter
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 500M
    requests:
      ephemeral-storage: 1G
      cpu: 100m
      memory: 256M
  health:
    liveness:
      path: /health
    readiness:
      path: /health
  envFrom:
    - configMapRef:
        name: "{{ .Release.Name }}-approuter-configmap"
